@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.current {
    //border-bottom: 5px solid #f2b21d;
    border-bottom: 5px solid #f7d148;
}

nav {
    //opacity: 0.7;
    color: white;
    width: 20%;
    height: 25%;
    //background-color: #007bbf;
    background-color: #f5b942;
    display: block;
    position: fixed;
    z-index: 2;
    margin-left: 80%;
}

nav a {
    color:  white;
    text-decoration:  none;
}

.topBar {
    //opacity: 0.7;
    color: white;
    width: 100%;
    height: 20%;
    //background-color: #f5b942;
    background-color: white;
    border-bottom: 1px solid #e8e6e1;
    position: fixed;
    z-index: 1;
}

/*div:active + nav {
   display: block;
}*/



/*nav:hover {
    margin-top: -25%;
    transition: 1s;
}*/

nav li:hover {
    //border-bottom: 5px solid lightskyblue; 
    //border-bottom: 5px solid #f2b21d;
    border-bottom: 5px solid #f7d148;
    transition: 0.5s; 
}


nav li {
    list-style-type: none;
    width: 90px;
    margin-left: 10%;
}

nav h1 {
    margin-left: 5%;
}
body {
    font-family: Quicksand;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  background: #f5b942; 
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 5px;
}

.islandButton {
    background-color:  white;
    border: 1px solid #e8e6e1;
    border-radius:  12px;
}


.islandBox {
    background-color: white;
    border: 1px solid #e8e6e1;
    overflow:auto;
    overflow-x: hidden;
    width:  20%;
    height:  200px;
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size:  10px;

}

.mainSource {
    width: 70%;
    //height: 910px;
    height: 730px;
    background-color: white;
    border: 1px solid #e8e6e1;
    overflow:auto;
    overflow-x: hidden;
}

.dark-mode .mainSource {
    color:  white;
}


.icon {
    transition: transform .7s ease-in-out;
    padding-top: 15px;
}

.icon:hover {
    animation-name: breathe;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


@keyframes breathe {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.blockLine {
    //border-right: 1px solid #e8e6e1;
    width: 30%;
    height: 910px;
}

.searchBox:focus {
    outline: none;
}

.rightSide {
    border-left: 1px solid #e8e6e1;
    width: 70%;
    height: 910px;
    //display: inline;
}

.topRight {
    margin-top: 10px;
    border-bottom: 1px solid #e8e6e1;
    height: 60px;
    width: 70%;
    //display: inline;
}

.chatArea {
    font-family: 'Roboto', sans-serif;
}

.searchBox {
    transition: 0.5s;
    width: 30px;
    padding-left: 5px;
    text-align: center;
    transform: translateX(-100%);
    background-position: 4px 6px;
    background-image: url('searchIcon.png');
    background-repeat: no-repeat;
    background-size: 20px auto;
    border: 0px solid #e8e6e1;
    cursor: pointer;
}

.searchBox::placeholder {
    color: transparent;
}

.searchBox:focus::placeholder {
    color: #828282;
}

.searchBox:focus {
    width:20%;
    transition: 0.5s;
    transform: translateX(35%);
    border: 1px solid #e8e6e1;
    margin-right: 50%;
    cursor: text;
}

.exploreIcon {
    transform: translateY(35%);
}

.nav_elements {
    text-align: right;
    margin-top: -70px;
    margin-right: 20px;
    color: black;
    font-size: 45px;
}

.containerSearchBox {
    border-radius: 12px;
}

.searchBox {
    margin-right: 0%;
}

.topRight {
    z-index: -1;
}

html {
    scroll-behavior: smooth;
}

.chatArea span {
    background-color: #F7D148;
    border-radius: 12px;
    padding: 10px;
    z-index: 1;
}

.right {
    text-align: right;
}

.chatInput {
    outline: none;
}

.dark-mode .chatArea span {
    background-color: #f5b942;
}

.dark-mode {
    background-color: #121212;
}

.dark-mode .chatArea {
    background-color: #2F2F2F;
    border-width: 0px;
}

.mainSource {
    border-radius: 12px;
}

.dark-mode .mainSource {
    background-color: #1f1f1f;
    d: 0px;
}
.description {
    border-radius: 12px;
    height: 50%;
    border: 1px solid #e8e6e1;
}
.islandView {
    border-radius: 12px;
    height: 75%;
    border: 1px solid #e8e6e1;
}


.dark-mode .description {
    background-color: #1f1f1f;
    border-width: 1px;
    color:  white;
}

.dark-mode .rightSide {
    background-color: #1f1f1f;
}

.dark-mode .topRight {
    background-color: #1f1f1f;
}

.topRight {
    width: 101.2%;
}



.dark-mode ::-webkit-scrollbar-thumb {
  background: #F6D048; 
  border-radius: 10px;
}

.dark-mode .blockLine p {
    color: white;
}

.blockLine {
    overflow: auto;
}

.dark-mode .chatInput {
    background-color: #2F2F2F;
    border-width: 0px;
}


.dark-mode .chatInput::placeholder {
    color: #828282;
}


.navigateIslands:hover {
    border-bottom-width: 0px;
    color: #ccb150;
}
.navigateIslands {
    font-family: Quicksand; 
    background-color: white; 
    border-width:0px;
    color: #F7D148;
}



.dark-mode .topBar {
    background-color: #2F2F2F;
    border-width: 0px;
}

.dark-mode .searchBox {
    background-color: #2F2F2F;
}



.dark-mode .moreButton {
    color: #808080;
}

.switchbutton {
 position: relative;
 width: 80px;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
}

.switchbutton-checkbox {
 display: none;
}

.switchbutton-label {
 display: block;
 overflow: hidden;
 cursor: pointer;
 border: 1px solid #999999;
 border-radius: 20px;
 height: 30px;
}

.switchbutton-inner {
 display: block;
 width: 200%;
 margin-left: -100%;
 transition: margin 0.3s ease-in 0s;
}

.switchbutton-inner:before,
.switchbutton-inner:after {
 float: left;
 width: 50%;
 height: 30px;
 box-sizing: border-box;
}

.switchbutton-inner:before {
 content: "";
 padding-left: 10px;
 background-color: #f5b942;
 color: #FFFFFF;
}

.switchbutton-inner:after {
 content: "";
 padding-right: 10px;
 background-color: #CCCCCC;
 color: #333333;
 text-align: right;
}

.switchbutton-switch-btn {
 display: block;
 width: 32px;
 margin: 0px;
 background: #000000;
 position: absolute;
 top: 0;
 bottom: 0;
 right: 48px;
 transition: all 0.3s ease-in 0s;
 border-radius: 20px;
}

.switchbutton-checkbox:checked + .switchbutton-label .switchbutton-inner {
 margin-left: 0;
}

.switchbutton-checkbox:checked + .switchbutton-label .switchbutton-switch-btn {
 right: 0px;
}
